[Unit]
Description=Run Opsdeck synchronization every hour

[Timer]
OnCalendar=hourly
Persistent=true
AccuracySec=1min
Unit=opsdeck-hourly-sync.service

[Install]
WantedBy=timers.target
